.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.title {
  font-size: 86px;
}

.message {
  margin-top: 20px;
  font-size: 20px;
}
